.inputcode{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.login-container .logBox form .inputcode input{
    width: 40px;
    height: 50px;
    font-size: 36px;
    color: #0079C8;
    border-color: #0079C8;
    text-align: center;
}