.logForm img{
    width: 100px;
    height: 100px;
    margin-top: 5%;
}
.logo-back{
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.logo-back .backLog{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    gap: 5px;
    font-weight: 500;
}
.logo-back .backLog p{
    color: #222222;
}
.logo-back .backLog a{
    color: #0BA8FF;
}
.logImgF{
    width: 100%;
    flex: 1;
    height: fit-content;
    background-color: #E7F0F9;
}
.logImgF img{
    width: 95%;
    height: 94vh;
    padding-left:5%;
    margin-top:3%;
    margin-bottom: 3%;
}

@media(max-width: 1024px){
    .logImgF {
        display: none;
    }
    .logo-back .backLog {
        flex: 2;
    }
    .logo{
        flex: 1;
    }
} 
