/* ================= Dashboard Container ================= */
.dashboardAdmin-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
    overflow-y: auto;
}

/* ================= Sections ================= */
.overview-cards {
    padding: 0 10px 30px;
    border-bottom: 10px solid #EEECF2;
    margin-bottom: 2%;
}

.Enrollment-card{
    padding: 0 10px 10px;
    border-top: 10px solid #EEECF2;
    margin-top: 5%;
}

/* ================= Title ================= */
.overview-card h3{
    font-size: 22px;
    color: #0079C8;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 15px;
}

/* ================= Cards Wrapper ================= */
.total-boxss{
    display: flex;
    justify-content: space-between;
    gap: 12px;
    align-items: stretch; 
}

/* ================= Single Card ================= */
.Total-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px;
    border-radius: 13px;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.18);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.Total-box:hover{
    transform: translateY(-4px);
    box-shadow: 0 6px 18px rgba(0,0,0,0.22);
}

/* ================= Card Content ================= */
.Total-box > div:first-child{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.overview-card .Total-box .text{
    color: #9593A8;
    font-size: 12px;
    font-weight: 600;
}

.Total-box .numOverview{
    color: #222;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1.5%;
    line-height: 100%;
    margin: 6px 0;
}

.Total-box .presOverview{
    font-size: 11px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0;
}
.Total-box .neutral{
    color: #666;
}
.Total-box .positive{
    color: #14AE5C;
}
.Total-box .negative{
    color: #CC1D1B;
}

/* ================= Icons ================= */
.overview-card .Total-box img{
    width: 60px;
    height: 60px;
}


/* ================= Tablet ================= */
@media (max-width: 992px){
    .overview-card .Total-box{
        flex: 1 1 48%;           /* 2 في الصف */
    }
    .total-boxss{
        flex-direction: column;
    }

    .overview-card h3{
        font-size: 20px;
    }
    .overview-cards {
        margin-top: 15%;
    }
}

/* ================= Mobile ================= */
@media (max-width: 576px){
    
    .dashboardAdmin-container{
        height: auto;
        overflow-y: visible;
    }


    .overview-card .Total-box{
        flex: 1 1 100%;
    }

    .overview-card .Total-box img{
        width: 45px;
        height: 45px;
    }

    .overview-card .Total-box .numOverview{
        font-size: 20px;
    }
}
