.modal-boxR {
    background: #FFFFFF;
    padding: 48px 64px;
    width: 100%;
    max-width: 600px;
    min-height: 280px;
    border-radius: 24px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    animation: pop 0.2s ease-in-out;
}

/* ===== Form ===== */
.modal-boxR form .ratingWeb {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.modal-boxR .ratingWeb h3 {
    font-size: 14px;
    color: #222;
    font-weight: 600;
    margin: 0;
}

/* ===== Close Icon ===== */
.modal-boxR .closeicon {
    background-color: #D62828;
    border-radius: 50%;
    padding: 6px 8px;
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
}

.modal-boxR .closeicon:hover {
    background-color: #ab2020;
}

/* ===== Inputs ===== */
.modal-boxR label {
    font-weight: 600;
    font-size: 14px;
    color: #555;
    margin-bottom: 6px;
}

.modal-boxR input {
    width: 100%;
    padding: 12px 16px;
    border: 1px solid #5555554e;
    border-radius: 8px;
    font-size: 14px;
    color: #333;
    background-color: #f9f9f9;
}

/* ===== Rating Row ===== */
.dataRate {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
@media (max-width: 768px) {
    .modal-boxR {
        padding: 32px 24px;
        margin: 0 2%;
        max-width: 90%;
    }
    .modal-boxd {
        margin: 0 2%;
        max-width: 90%;
    }
    /*  */
    .modal-boxR .btns-group {
        flex-direction: row;
    }
}

@media (max-width: 480px) {
    .modal-boxR {
        padding: 24px 16px;
        border-radius: 16px;
    }

    .modal-boxR label {
        font-size: 13px;
    }

    .modal-boxR input {
        font-size: 13px;
        padding: 10px 14px;
    }

    .modal-boxR .ratingWeb h3 {
        font-size: 13px;
    }
}
