.modal-boxd {
    background: #FFFFFF;
    padding: 48px 64px;
    width:600px;
    height: 230px;
    border-radius: 24px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    animation: pop 0.2s ease-in-out;
}
.modal-boxd .closeicon{
    background-color: #D62828;
    border-radius: 50%;
    padding: 5px 7px;
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
}
.modal-boxd .closeicon:hover{
    background-color: #ab2020;
}
.modal-boxd h3{
    text-align: center;
    color: #0079C8;
    font-weight: 600;
    font-size: 24px;
    line-height: 14px;
}
.datadepart{
    display: flex;
    align-items: center;
    margin-top:5%;
    margin-bottom: 10%;
}
.datadepart label {
    font-weight: 600;
    font-size: 14px;
    color: #555;
    display: block;
    flex: 1;
}
.datadepart input{
    padding: 12px 16px;
    border: 1px solid #5555554e;
    border-radius: 8px;
    font-size: 14px;
    flex: 2;
    color: #333;
    background-color: #f9f9f9;
}
.datadepart input:focus{
    outline: none;
    border-color:#0079C8 ;
}
.deletemsgD{
    position: absolute;
    top: 34%;
    left: 28%;
    background-color: #cfeeff;
    padding: 40px 64px;
    border-radius: 24px;
}

.deletemsgD div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
}

.modal-boxd form{
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal-boxd form div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.modal-boxd form label{
    font-size: 14px;
    width: 25%;
}
.modal-boxd form input {
    flex: 1;
    padding: 12px 16px;
    margin: 13px 0;
    border: 1px solid #5555554e;
    border-radius: 8px;
    color: #555555;
    font-size: 14px;
}
.modal-boxd form input:focus{
    outline: none;
    border-color:#0079C8 ;
}
.modal-boxd form input::placeholder{
    font-size: 12px;
    color: #B4B0BF;
}