.login-container{
    display: flex;
    justify-content: space-between;
    height: 100vh; 
    overflow: hidden;
}
.logImg{
    width: 100%;
    flex: 1;
    height: fit-content;
}
.logImg img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.logBox{
    flex: 1;
    width: 100%;
    max-height: 100vh;
    padding: 1%;
}



.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    gap: 0;
}
.logo img{
    width: 28px;
    height: 28px;
}
.logo p{
    font-weight: 600;
    font-size: 20px;
    margin-top: 5px;
    line-height: 140%;
    color: #222222;
}

.logForm{
    padding: 0% 10%;
}

.logText{
    width: 100%;
    text-align: center;
    line-height: 100%;
}
.logText h2{
    font-weight: 700;
    font-size: 32px;
    color: #0079C8;
    margin-bottom: 0;
}
.logText p{
    font-weight: 500;
    font-size: 14px;
    color: #555555;
}


.logBox form {
    display: flex;
    flex-direction: column; 
    margin-top: 20px; 
}

.logBox form label {
    font-weight: 500;
    font-size: 14px;
    color: black;
    margin-bottom: 10px;
}


.pass-input {
    position: relative;
    width: 100%;
}

.pass-input input {
    width: 100%;
    padding-right: 10px; 
}

.pass-input i {
    position: absolute;
    right: 10px;
    top: 30%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #666;
}
.pass-input i:hover{
    color: #005a99;
}

.logBox button {
    padding: 12px;
    background-color: #0BA8FF;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 5%;
}

.logBox button:hover {
    background-color: #005a99;
}


form .login-options {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}


.logBox form .remember-box {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    color: #0BA8FF;
}

.forgetlink {
    color: #0BA8FF;
    font-size: 14px;
}

.logBox form input:not([type="checkbox"]) {
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    outline: none;
    transition: border 0.3s;
    margin-bottom: 20px;
    width: 95%;
}
.logBox form input:not([type="checkbox"]):focus {
    border-color: #0079C8;
}

.logBox form input[type="checkbox"] {
    padding: 0;
    width: auto;
    height: auto;
    border: none;
    accent-color: #0BA8FF;
    margin: 0;
    accent-color: #0BA8FF; 
}

.contbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin-top: 5%;
}
.contbox p{
    font-weight: 600;
    color: #222222;
    margin: 0;
}
.contbox a{
    color: #0BA8FF;
    font-weight: 500;
}

.error{
    color: red;
    font-size: 12px;
    text-align: center;
}



@media(max-width: 1024px){
    .logImg{
        display: none;
    }
} 

@media (max-width: 768px) {
    .login-container{
        flex-direction: column;
    }
    .logBox{
        width: 100%;
        flex: none;
        padding: 10% 1%;
    }

    .logo{
        width: 50%;
        margin: 0 auto;
    }
    .logText h2 {
        font-size: 24px;
    }
}
.logBox form input:focus:not([type="checkbox"]) {
    border-color: #0079C8 !important;
}
