.dashboard-container{
    background-color: #EEECF2;
    
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0px;
}
.dashboard-content{
    background-color: white;
    border-radius: 24px;
    margin: 0 24px;
    margin-left: 0px;
    padding: 15px;
    flex: 2;
    height: 90vh;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
}